.container {
    width: 1200px;
    height: 70vh;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start; */
}
h1 {
    font-size: 40px;
    color:rgba(59, 49, 49, 0.878);
}
#div {
    width: 365px;
    height: 50px;
    background-color: #000000;
    margin-left: 16px;
}
.div {
    margin-top: 20px;
}
#div2 {
    text-align: center;
    width: 500px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 20px;
}
.div2-a {
    width: 80px;
    height: 80px;
    background-color: blanchedalmond;
    align-self: center;
    padding-top: 20px;
    margin-left: 15px;
}
#div3 {
    text-align: center;
    width: 500px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 40px;
}
.div3-a {
    width: 80px;
    height: 80px;
    background-color: blanchedalmond;
    align-self: center;
    padding-top: 20px;
    margin-left: 15px;
}
#div4 {
    text-align: center;
    width: 500px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 40px;
    
}
.div4-a {
    width: 80px;
    height: 80px;
    background-color: blanchedalmond;
    align-self: center;
    padding-top: 20px;
    margin-left: 15px;
}
#div5 {
    text-align: center;
    width: 500px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 40px;
}
.div5-a {
    width: 80px;
    height: 80px;
    background-color: blanchedalmond;
    align-self: center;
    padding-top: 20px;
    margin-left: 15px;
}
#div6 {
    text-align: center;
    width: 500px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 40px;
    margin-left: 15px;
}
.div6-a {
    width: 90px;
    height: 80px;
    background-color: blanchedalmond;
    align-self: center;
    padding-top: 20px;
    margin-left: 15px;
}
.div6-ab {
    width: 80px;
    height: 80px;
    background-color: blanchedalmond;
    align-self: center;
    padding-top: 20px;
    padding-left: 60px;
    
}



/* .div6-ab {
    width: 150px;
    height: 60px;
    background-color: blanchedalmond;
    align-self: center;
    padding-top: 20px;
    margin-top: 40px;
} */